{% extends 'base.html' %}
{% load widget_tweaks %}
{% block title %} Omba likizo{% endblock title%}
{%block breadcrumb %}
<li class="breadcrumb-item"><a href="#">Likizo</a> </li>
<li class="breadcrumb-item"><a href="">Likizo</a> </li>
<li class="breadcrumb-item active">Omba likizo</li>
{% endblock breadcrumb%}

{% block content %}
    <form method="post" novalidate>
        {% csrf_token%}
        {% include 'conditional_form.html' %}
        <button type="submit" class="btn btn-success">Omba</button>
    </form>


{% endblock content%}