{% extends 'base_accounts.html' %}
{% block title %} Badili nywila {% endblock %}
{% block content %}
<div class="row justify-content-center">
    <div class="col-lg-4 col-md-6 col-sm-8">
        <div class="card">
            <div class="card-body">
                <h3 class="card-title">Badili nywila</h3>
                <form method="post" novalidate>
                {% csrf_token %}
                {% include 'includes/forms.html' %}
                    <button type="submit" class="btn btn-primary btn-block">Badili nywila</button>
                </form>
            </div>
<div class="card-footer text-muted text-center">
</div>
        </div>
<div class="text-center py-2">
</div>
    </div>
</div>
{% endblock %}